@media (max-width: 302px) {
.container-home{
  opacity: 0%;
}
.videoback{
  display: none;
}
body{
  background-image: url(../icons/gato-com-arma.jpg);
}
 }

/* Celulares pequenos (max-width: 360px) */
@media (min-width: 303px) and (max-width: 427px) {
  .container-home{
    max-width: 185.156px;
  }

 }
 
 /* Celulares médios (max-width: 480px) */
 @media (min-width: 428px) and (max-width: 540px) {
  .container-home{
    max-width: 261.547px;
  }

 }
 
 /* Tablets (601px a 768px) */
 @media (min-width: 541px) and (max-width: 768px) {
  .container-home{
    max-width: 333.656px;
  }
 }
 
 /* Desktops pequenos (769px a 1024px) */
 @media (min-width: 769px) and (max-width: 1024px) {
  .container-home{
    max-width: 333.656px;
  }
 }
 
 /* Desktops médios (1025px a 1280px) */
 @media (min-width: 1025px) and (max-width: 1280px) {
  .container-home{
    max-width: 333.656px;
  }
 }
 
 /* Desktops grandes (1281px e acima) */
 @media (min-width: 1281px) {
  .container-home{
    max-width: 333.656px;
  }
 }