/* Para telas muito pequenas */
@media (max-width: 302px) {
  .container-home {
      opacity: 0;
  }
  .videoback {
      display: none;
  }
  .redes-sociais-Lateral {
      visibility: hidden;
  }
  #prog, #agro, #mobile, .container-home-switch {
      display: none;
  }
  body {
      background-image: url(../icons/gato-com-arma.jpg);
  }
}

/* Para telas de 303px a 540px */
@media (min-width: 303px) and (max-width: 540px) {
  .container-home {
      min-width: 185.156px;
  }
  .projects-experience{
    flex-direction: column;
  }
  .title {
      font-size: 0.7rem;
  }
  .redes-sociais-Lateral {
      visibility: hidden;
  }
  #prog, #agro {
      display: none;
  }
  #mobile {
      display: block;
  }
  .projects-experience .list-experience .text-pad, .projects-experience .list-projects .text-pad {
    font-size: 0.9rem; /* Tamanho da fonte */
}
.experience{
  margin-top: 10px;
}
}

/* Para telas de 541px a 768px */
@media (min-width: 541px) and (max-width: 768px) {
  .container-home {
      max-width: 333.656px;
  }
  #mobile {
      display: none;
  }
  #teste{
    display: none;
  }
  #hidden{
    display: none;
  }
}

/* Para telas maiores */
@media (min-width: 769px) {
  .container-home {
      max-width: 333.656px;
  }
  #mobile {
      display: none;
  }
  #teste{
    display: none;
  }
  #hidden{
    display: none;
  }
}
