.video-background{
    position: relative;
   }
   
.title{
    font-family: 'rubikiglitch';
    text-decoration: underline;
    color: var(--amarelo-destaque);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    animation: jump 1s infinite ease-in-out;
    -webkit-text-stroke: 0.2px var(--teste);
}

.text-pad{
    font-family: 'rubikiglitch';
    color: var(--cinza-escuro);
    font-size: 1rem;
}

.quick-facts,.list-facts,.text-pad,.titulo{
    margin-top: 10px;
}

.char-img{
    width: 50vw;
    max-width: 180px;
    border-radius: 60px;
}

.contrast {
    color: var(--amarelo-destaque);
}

.decoration-bar{
    width:100%;
    height:15px;
    border-bottom: 1px solid rgba(255,255,255,.25);
}


@keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }}


