/* Estilo para o painel principal da página inicial */
.painel-home {
    display: flex; /* Define um layout flexível */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Container principal da página inicial */
.container-home {
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    border-radius: 30px; /* Define bordas arredondadas */
    border-width: 3px; /* Define a largura da borda */
    background: linear-gradient(180deg, rgba(217, 234, 242, 0.05%), rgba(217, 234, 242, 0.8)); /* Fundo com gradiente */
    padding: 30px; /* Espaçamento interno de 30px */
    position: absolute; /* Posiciona o container de forma absoluta */
    top: 5em; /* Espaçamento superior de 3em */
    width: 61.11vw; /* Largura relativa à largura da janela */
    margin: auto; /* Centraliza horizontalmente */
}

.container-home-switch {
    padding: 30px; /* Espaçamento interno de 30px */
    position: absolute; /* Posiciona o container de forma absoluta */
    top: 5em; /* Espaçamento superior de 3em */
    margin: auto; /* Centraliza horizontalmente */
}

.container-teste{
    display: flex;
    align-items: center;
    justify-content: center;  
}


/* Estilo para o título do container */
.title-container {
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
}

/* Estilo para a seção de redes sociais */
.redes-sociais {
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
}

/* Estilo para os ícones das redes sociais */
.icone-rede-social {
    margin-left: 10px; /* Margem à esquerda de 10px */
    width: 3em; /* Define a largura como 3em */
    margin-top: 15px; /* Margem superior de 15px */
}

.redes-sociais-Lateral{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -230px;
    top: 5rem;
}

.switch__container{
    display: flex;
    position: relative;
    top: -6rem;
    right: -36px;
}

.projects-experience{
    margin-top: 15px;
    display: flex;
}

.projects{
    margin-right: 20px;
}

#prog,#agro{
    display: none;
}


.switch__container {
    margin-top: 20px;
    width: 150px;
    margin-bottom: 30px;
  }
  
  .switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
  }
  
  .switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  
  .switch--shadow + label {
    padding: 2px;
    width: 140px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
  }
  .switch--shadow + label:before,
  .switch--shadow + label:after {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switch--shadow + label::before{
    content: "Dev";
  }

  .switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  .switch--shadow + label:after {
    width: 32px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
  .switch--shadow:checked + label:before {
    background-color: #8ce196;
    content: "Agronomy";
  }
  .switch--shadow:checked + label:after {
    transform: translateX(110px);
    content: "";
  }

.list-projects,.list-experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}